@model IEnumerable<BusinessObject.DataAccess.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders List</h1>

@{
    if (ViewBag.Error != null)
    {
    <h3 class="text-center text-danger">@ViewBag.Error</h3>
    }
    else
    {
        if (ViewBag.user == 0)
        {
   
    <form asp-action="Report">
                    <p class="font-weight-bold">View Orders in a time period</p>
                    <div class="form-group">
                        <label for="start">Start Date</label>
                        <input type="date" name="start" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="start">End Date</label>
                        <input type="date" name="end" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-warning" value="Search" />
                    </div>
    </form>
        }
    }
    }
    <p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus-circle"></i> Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Freight)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ id = item.OrderId }, new {@class = "btn btn-warning"}) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ id = item.OrderId}, new {@class = "btn btn-primary"}) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ id = item.OrderId}, new {@class = "btn btn-danger"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
