@model IEnumerable<BusinessObject.DataAccess.OrderDetail>

@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrderDetails</h1>

<p>
    <a asp-action="Create" asp-controller="OrderDetail" asp-route-id="@Model.FirstOrDefault().OrderId">Create new</a>
    @*@Html.ActionLink("Create", "Create","OrderDetail", new {id= @Model.FirstOrDefault().OrderId})*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","OrderDetail", new {id = item.OrderId, productID=item.ProductId}) |
                    @Html.ActionLink("Details", "Details", new {id = item.OrderId, productID=item.ProductId },null) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.OrderId, productID=item.ProductId})
                </td>
            </tr>
        }
    </tbody>
</table>
